/* Global Styles */
BODY {
	background-color: #f0f1f2;
	background-image: url(../images/bg.jpg) ;
	background-repeat: repeat-x;
	background-position: top center;
}

/* Global Header Styles */
#global-hd-container {
	background-image: url(../images/bg_global_header.png);
	background-repeat: repeat-x;
	background-color: #181818;
	color: #fff; 
}

/* Change these styles for school colors */
a:link, a:visited {
	color:  #0b5172;
}

a:hover, a:active {
	color:  #0b5172;
}

#leftnav ul li a:hover {
	color:  #0b5172;
}

#leftnav ul li a.active {
	color:  #0b5172;
}

#header {
	background-color: #0b5172;
}

.overline {
	background-color: #0b5172;
}

#content th {
	background-color: #0b5172;
}
/* End school colors */

/* Navigation Styles */

/* Set the widths for each horizontal menu tab */
#navbar #navigation ul li a.item1 {
	width: 199px;
}

#navbar #navigation ul li a.item2 {
	width: 185px;
}

#navbar #navigation ul li a.item3 {
	width: 188px;
}

#navbar #navigation ul li a.item4 {
	width: 185px;
}

#navbar #navigation ul li a.item5 {
	width: 202px;
}


/* Leftnav Styles */

#leftnav a.control {
	color: #004d3f;
	width: 19px;
	height: 19px;
	background: url(../images/bullet_circle.gif) no-repeat 0 4px;
	text-align: center;
}

#leftnav .control {
	color: #004d3f;
	width: 22px;
	height: 19px;
	text-align: center;
}

/* Content Styles */
div .border {
	border: 1px solid #bdbcbd;
	background-color: #ffffff;
	background-image: url(../images/bg_content_2.gif);
	background-repeat: repeat-x;
}

#content th {
	background-color: #0b5172;
	color: #FFFFFF;
}
