a:link, a:visited {
	color: #0b5172;
	text-decoration: none;
	font-weight: bold;
}
a:hover, a:active {
	color: #0b5172;
	text-decoration: underline;
}

/* Global IEEE Header */
#global-hd-container {
	width: 100%;
	height: 35px;
	background-image: url(../images/bg_global_header.png);
}
#global-hd {
	width: 980px; 
	margin: auto; 
	text-align: left;
	padding: 10px 0px;
	font-size: .9em;
}
#global-hd ul {
	width: 980px;
	text-align: left;
	display: inline;
}
#global-hd ul li {
	display: inline;
	border-right: 1px solid #fff;
	padding: 0px 18px 0px 14px;
}
#global-hd ul li.last {
	display: inline;
	border-right: 0px;
}
#global-hd a:link, #global-hd a:visited {
	color: #fff;
	font-weight: normal;
} 
#global-hd a:hover, #global-hd a:active {
	text-decoration: underline;
	color: #fff; 
} 

#sign-in {
	float: right; 
	margin-right: 30px;
	font-weight: bold;
}

a.arrow {
	background: url(../images/icon_arrow.png) no-repeat;
	padding: 0 0 10px 28px;
}

a.read-more {
	padding: 0 0 0 10px;
	background: url(../images/btn_carrot.gif) no-repeat 0 4px;
}

a.button:link, a.button:hover, a.button:active, a.button:visited {
	background: url(../images/btn_black.gif) repeat-x;
	padding: 4px;
	color: #fff;
	font-weight: normal;
	font-size: .9em;
}

input, textarea, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

input.round {
	width: 240px;
	height: 30px;
	background: url(../images/bg_textfield.gif) no-repeat;
	border: none;
	padding: 0 2px;
}

input.button {
	background: url(../images/btn_black.gif) repeat-x;
	padding: 4px;
	border: none;
	color: #fff;
	cursor: pointer;
	float: right;
}

.small {
	font-size: .9em;
	color: #7a7a7a;
}

/* Page container */
#wedge {
	position: absolute;
	top: 35px;
	right: 0px;
	width: 22px;
	height: 22px;
	background: transparent url(../images/wedge.gif) no-repeat 0 0;
}

#header {
	height: 204px;
	width: 100%;
	background-color: #00574d;
}

/* Logo area */
#logos {
	width: 960px;
	height: 101px;
	margin: auto;
}

#logos h1 {
	color: #fff;
	font-size: 3em;
	font-weight: normal;
}

#logos h2 {
	color: #fff;
	font-size: 2em;
	font-weight: normal;
}

#logos #main {
	padding: 16px 10px 10px 0;
	float: left;
}

#logos #university {
	float: right; 
	padding: 16px 21px 0px 0px;
	background-image: url(../images/logo_school.png);
	background-repeat: no-repeat;
	background-position: 0 16px;
}

#logos #ieee {
	float: right; 
	padding: 27px 0 0 0;
	height: 50px;
	background-image: url(../images/logo_ieeeWHT.png);
	background-repeat: no-repeat;
	background-position: 0 27px;
	height: 74px;
}

#logos #links {
	clear: both;
	float: right; 
	margin: 0;
	font-size: .8em;
	color: #fff;
	font-weight: normal;
}

#logos #links ul {
	margin: 0;
	padding: 0;
	width:auto;
	position:relative;
	display:block;
	height:20px;
}

#logos #links ul li {
	display:block;
	float:left;
	margin:0;
	padding-left: 7px;
	padding-right: 7px;
	border-right: 1px solid #fff;
}

#logos #links ul li.last {
	border: 0;
	padding-right: 0;
}

#logos #links ul li a:link, #logos #links ul li a:visited, #logos #links ul li a:active, #logos #links ul li a:hover {
	color: #fff;
	font-weight: normal;
}

#logos #links a:hover, #logos #links a:active {
	text-decoration: underline;
} 

/* Site Navigation Bar */
#navbar {
	clear: both;
	width: 960px;
	height: 35px; 
	margin: auto;
}

#navbar #navigation {
	font-size: 1em;
	width: 960px;
}

#navbar #navigation ul {
	margin: 0;
	padding: 0;
	width:auto;
	position:relative;
	display:block;
}

#navbar #navigation ul li {
	height:35px;
	display:block;
	float:left;
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(../images/bg_nav.gif);
}

#navbar #navigation ul li.last {
	background-position: right top;
	border-left: 1px solid #ebebeb;
}

#navbar #navigation ul li a {
	display:block;
	float:left;
	text-decoration:none;
	font-weight:bold;
	color: #333333;
	padding-top: 10px;
	height: 25px;
}

#navbar #navigation ul li a.double {
	padding: 0;
	height: 35px;
}

#navbar #navigation ul li a.last {

}

#navbar #navigation ul li a:hover {
	color: #004840;
	text-decoration: none;
	background-image: url(../images/bg_nav_on.gif);
}

#navbar #navigation ul li a.active {
	color: #004840;
	text-decoration: none;
	background-image: url(../images/bg_nav_on.gif);
}

#navbar #navigation ul li a.last:hover  {
	background-position: right top;

}

/* Search Bar */
#search {
	margin: auto;
	padding:0;
	width: 960px; 
	height: 48px;
	background-image: url(../images/bg_search.png);
	background-color: #181818;
}	

#search #search-content {
	padding: 18px 10px 0px 10px;
	float: left; 
	color: #FFF;
	font-size: .85em;
}

#search #search-form {
	padding: 15px 10px 0px 10px;
	vertical-align: middle;
}

#search #searchbox {
	margin: 9px 0 0 0;
	padding: 0 0 0 4px;
	background: url(../images/bg_searchLeft.png) no-repeat top left;
	border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 210px;
	height: 27px;
}

#search .srch-btn-right {
	margin: 9px 0px 0px 0px;
	padding: 5px;
	background: url(../images/bg_searchRight.png) no-repeat 0 0;
	width: 24px;
	height: 27px;
	float: left;
}

#search #searchbutton {
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 8px 7px;
	border: 0;
	background-image: url(../images/btn_Left.png);
	background-color: transparent;
	height: 25px;
	color: #2a2a2a;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	cursor: pointer;
}

#search .btn-right {
	margin: 10px 0px 0px 0px;
	padding: 5px;
	background: url(../images/btn_Right.png) no-repeat 0 0;
	height: 25px;
	float: left;
}

#searchbox2 {
	margin: 0;
	padding: 0 0 0 4px;
	background: url(../images/bg_searchLeft.png) no-repeat top left;
	border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 205px;
	height: 27px;
	font-size: 0.9em;
	color: #949393;
}

.srch-btn-left {
	margin: 10px 0 0 0;
	padding: 5px 5px 5px 11px;
	background: url(../images/btn_Left.png) no-repeat 0 0;
	height: 25px;
	float: left;
	font-size: 0.8em;
}

.srch-btn-right {
	margin: 0;
	padding: 5px 0 0 5px;
	background: url(../images/bg_searchRight.png) no-repeat 0 0;
	width: 24px;
	height: 27px;
	float: left;
}

#searchbutton {
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 8px 7px;
	border: 0;
	background-image: url(../images/btn_Left.png);
	background-color: transparent;
	height: 25px;
	color: #2a2a2a;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	cursor: pointer;
}

.submit-btn-left {
	margin: -3px 0 0 0;
	padding: 3px 5px 5px 11px;
	background: url(../images/btn_Left.png) no-repeat 0 0; 
	height: 25px;
	float: left;
	font-size: 0.9em;
	border: 0;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.srch-btn-left a:link, .srch-btn-left a:active, .srch-btn-left a:visited,
.btn-left a:link, .btn-left a:active, .btn-left a:visited {
	font-weight: normal;
	color: #333;
}

.btn-left {
	margin: -3px 0 0 0;
	padding: 5px 5px 5px 11px;
	background: url(../images/btn_Left.png) no-repeat 0 0;
	height: 25px;
	float: left;
	font-size: 0.8em;
}

.btn-right {
	margin: -3px 0 0 0;
	padding: 5px;
	background: url(../images/btn_Right.png) no-repeat 0 0;
	height: 25px;
	float: left;
}

#arrow-left {
	margin: -3px 0 0 0;
}

#arrow-right {
	margin: -3px 0 0 0;
}

#socialmedia {
	float: right;
	padding: 13px 5px 0px 0px;
	color: #FFF;
	font-size: .85em;
	line-height: 1em;
}

#socialmedia .socialicon {
	vertical-align: middle;
	padding: 0px 3px 0px 3px;
}

/* Content Container */
#container {
	width: 936px;
	margin: auto;
	padding: 20px 28px;
	background: transparent url(../images/bg_container.png) no-repeat 8px 0;
}

#container-bottom {
	width: 976px;
	height: 11px;
	margin: auto;
	background: transparent url(../images/bg_container_bot.png) no-repeat 0 0;
}

/* Footer styles */
#footer {
	width: 100%;
	height: 55px;
	margin: auto;
	text-align: center;
	background-color: #1c1c1c;
	background: transparent url(../images/bg_footer.png) repeat-x 0 0;
	color: #FFF;
	font-weight: normal;
}

#footer P {
	font-size: .8em;
	padding: 10px 10px 0px 10px;
}

#footer a:link, #footer a:visited {
	color: #FFF;
	font-weight: normal;
}

#footer a:hover, #footer a:active {
	color: #FFF;
	font-weight: normal;
}

/* Home Page Content */
#hp-container {
	width: 920px;
	border-bottom: 0;
	padding: 10px 0;
	margin: 0 auto;
}

#prev, #prev2, #prev3,
#next, #next2, #next3 {
	cursor: pointer;
}

#hp-container .date {
	color: #858585;
	font-size: .9em;
}

.container {
	border: 1px solid #bdbcbd;
	border-top: 0;
	padding: 9px;
	background: transparent url(../images/bg_content_container.png) repeat-x left bottom;
}

#hp-container h3 {
	font-size: 1.2em;
}

#hp-container .header h1,
#hp-container .header h2 {
	color: #fff; 
	font-size: 1.2em;
	font-weight: bold;
}

#hp-container .header h1.main {
	border: 0;
}

#hp-container .break {
	 height: 9px;
}
 
#hp-container1 {
	float: left;
	width: 650px;
	overflow: hidden;
}

#hp-container1 #hp_content1 {
	width: 630px;
	height: 276px;
}

#hp-container1 #hp_content1 img.image {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 0 15px 0;
}

#hp-container2 {
	float: right;
	width: 260px;
	overflow: hidden;
}

#hp-container2 #hp_content2 {
	width: 240px;
	height: 276px;
}

#hp-container3 {
	float: left;
	width: 650px;
	overflow: hidden;
	margin-top: 14px;
}

#hp-container3 #hp_content3 {
	width: 630px;
	height: 301px;
}

#hp-container3 #hp_content3 ul {
	margin-bottom: 8px;
}

#hp-container3 #hp_content3 ul li {
	padding: 30px 8px 0 8px;
	border-bottom: 1px solid #edecf1;
}

#hp-container3 #hp_content3 img.image {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 0 15px 0;
}

#hp-container4 {
	float: left;
	width: 320px;
	overflow: hidden;
	margin-top: 14px;
	margin-left: 10px;
}

#hp-container4 #hp_content4 {
	width: 300px;
	height: 301px;
}

#hp-container4 #hp_content4 ul {
	margin-bottom: 8px;
}

#hp-container4 #hp_content4 ul li {
	padding: 8px 8px 0 8px;
	border-bottom: 1px solid #edecf1;
}

#hp-container4 #hp_content4 img.image {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 0 15px 0;
}

#hp-container5 {
	float: right;
	width: 260px;
	overflow: hidden;
	margin-top: 14px;
	margin-left: 10px;
}

#hp-container5 #hp_content5 {
	width: 240px;
	height: 94px;
}

#hp-container6 {
	float: right;
	width: 260px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 10px;
}

#hp-container6 #hp_content6 {
	width: 240px;
	height: 163px;
}

#hp-container6 #hp_content6 input {
	margin: 5px 0;
}

#hp-container7 {
	float: left;
	width: 650px;
	overflow: hidden;
	margin-top: 20px;
}

#hp-container7 #hp_content7 {
	width: 630px;
	height: 166px;
}

#hp-container7 #hp_content7 ul {
	margin-bottom: 5px;
}

#hp-container7 #hp_content7 ul li {
	padding: 0 8px;
	border-bottom: 1px solid #edecf1;
	width: 194px;
	float: left;
}

#hp-container8 {
	float: left;
	width: 650px;
	overflow: hidden;
	margin-top: 20px;
}

#hp-container8 #hp_content8 {
	width: 630px;
	height: 126px;
}

#hp-container9 {
	float: right;
	width: 260px;
	overflow: hidden;
	margin-top: 20px;
}

#hp-container9 #hp_content9 {
	width: 240px;
	height: 335px;
}
#hp-container9 #hp_content9 p {
	margin-bottom: 5px;
}

#hp-container9 #hp_content9 ul {
	margin-bottom: 8px;
}

#hp-container9 #hp_content9 ul li {
	padding: 4px 3px 0 3px;
	border-bottom: 1px solid #edecf1;
}

#hp-container9 #hp_content9 a.read-more {
	font-size: .9em;
	font-weight: normal;
}

#hp-container .content {
	font-size: .9em;
	padding: 9px 7px 9px 9px;
}

#hp-container .content p {
	padding: 0;
	line-height: 1.4em;
}

#hp-container .hp-link {
	font-weight: bold;
}

#hp-container h2 {
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: 4px;
	margin-bottom: 5px;
}

#hp-container P {
	margin-bottom: 10px;
}

#hp-container .main-img {
	margin-right: 10px;
	margin-left: 10px;
}

#hp-container .main-content {
	width: 210px;
	float: right;
	margin-right: 10px;
}

/* Sub page styles */
#sub-container {
	width: 940px;
	padding: 0;
	margin-top: 9px;
	font-size: .9em;
}

/* Side navigation styles */
#leftnav {
	width: 210px;
	float: left;
	margin-bottom: 10px;
	padding-left: 8px;
}

#leftnav h4.header {
	min-height: 25px;
	padding: 4px 0 4px 10px;
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	border: 1px solid #bdbcbd;
	border-top: none;
}

#leftnav #promos {
	margin: 10px 0;
	text-align: center;
}

#leftnav #promos img {
 margin: 5px 0;
}

#leftnav ul {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

#leftnav ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	width: 208px;
	border: 1px solid #bdbcbd;
	border-top: none;
	background: url(../images/bg_leftnav.gif) left bottom repeat-x;
}

#leftnav ul li a {
	display:block;
	float:left;
	text-decoration:none;
	padding: 7px 3px 2px 0px;
	width: 182px;
	min-height:20px;
	color: #2a2a2a;
	font-weight: normal;
}

#leftnav ul li a:hover {
	color: #00574d;
}

#leftnav ul li a.active {
	color: #00574d;
	font-weight: bold; 
}

#leftnav ul li ul {
	clear: both;
}

#leftnav ul li ul li {
	border: 0;
	width: 173px;
	padding-left: 30px;
	float: right;
	background: none;
}

#leftnav ul li ul li a {
	width: 170px;
}

#leftnav ul li ul li a:hover {
	color: #00574d;
	text-decoration: underline;
}

#leftnav ul li ul li a.active {
	color: #00574d;
	font-weight: bold; 
}

#leftnav .control {
	width: 10px;
	margin-left: 0; 
	padding-top: 6px;
	float: left;
	cursor: pointer;
	color: #dc0e03;
}

/* content area styles */
#content {
	width: 690px;
	float: right;
	padding-right: 12px;
	padding-bottom: 10px;
}

#content #breadcrumb {
	padding: 0px 0px 10px 0px;
}

#content #breadcrumb a:link, #content #breadcrumb a:visited  {
	color: #2a2a2a;
	text-decoration: underline;
}

#content .sub-border {
	border: 1px solid #bdbcbd;
	border-top: none;
	margin-top: -5px;
}

#content .sub-content {
	padding: 0 10px;
}

#content #left-column  .sub-content {
	padding: 0 10px;
}

#content #left-column {
	float: left; 
	padding-right: 9px;
	width: 459px
}

#content #right-column {
	float: right; 
	width: 220px;
}

#content #right-column ul {
	margin-bottom: 10px; 
	list-style: disc;
	margin-left: 15px;
}

#content #right-column hr {
	border: 1px solid #dedede; 
	width: 100%;
	color: #f5f5f5;
	background-color: #f5f5f5;
	height: 4px;
	margin: 5px 0px;
}

#content #right-column ul li {
	margin-bottom: 10px;
}
#content .img-full {
	margin-bottom: 10px;
}

#content p {
	padding-bottom: 10px;
}

#content .sp-content1 {
	width: 340px;
	margin: 10px 0 10px 0; 
}

#content .sp-content2 {
	width: 340px; 
	margin: 0 0 10px 0; 
}

#content .content {
	padding: 0 10px 0px 10px;
	border: 1px solid #bdbcbd;
	border-top: none;
}

#content .content h2 {
	padding: 0 0 8px 0;
}

#content h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 5px 0;
	color: #333;
}

#content h2 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 5px 0;
}

#content h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

#content dl {
	margin-bottom: 10px; 
}

#content dl dd {
	margin-left: 35px;
}

#content ol {
	padding-bottom: 10px; 
	list-style: decimal;
	list-style-position: inside;
	margin-left: 10px;
}

#content ul {
	padding-bottom: 10px; 
	list-style: disc;
	list-style-position: inside;
	margin-left: 10px;
}

#content hr {
	border: 0px; 
	width: 100%;
	color: #bdbcbd;
	background-color: #bdbcbd;
	height: 1px;
}

#content table {
	width: 100%;
	border: 1px solid #bdbcbd;
	margin-bottom: 10px;
}

#content th {
	padding: 5px;
	text-align: left;
	border: 1px solid #bdbcbd;
	font-size: 1.3em;
	font-weight: bold;
}

#content td {
	padding: 5px;
	border: 1px solid #bdbcbd;
}

#content table .even {
	background-color: #eaebed; 
}

#content form label {
	font-size: 1.2em;
	font-weight: bold;
}

#content form label.label-check {
	font-size: 1em;
	font-weight: normal;
}


#content .header {
	padding: 0px 0px 0px 0px;
}

#content .header h1 {
	height: 25px;
	padding: 8px 10px 0px 10px;
	background-color: #0188cb;
	border: 1px solid #006699;
	background-image: url(../images/bg_nav.png);
	background-repeat: repeat-x;
	color: #fff;
	margin: 0 0 10px 0;
}

#content .header h2 {
	height: 25px;
	padding: 8px 10px 0px 10px;
	background-color: #0188cb;
	border: 1px solid #006699;
	background-image: url(../images/bg_nav.png);
	background-repeat: repeat-x;
	color: #fff;
}

div .overline {
	height: 5px; 
	width: 100%;
	background-image: url(../images/bg_divider.png);
}


